*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/drawable/brick.png
app/src/main/res/raw/sixty.TTF
app/src/main/res/raw/opensans.ttf
app/src/main/res/raw/amatic.ttf
app/src/main/res/raw/alexbrush.ttf
app/src/main/res/raw/chunkfiveprint.otf
app/src/main/res/raw/monkey.obj
app/src/main/res/raw/cube.obj
app/src/main/res/raw/dragon.obj
app/src/main/res/raw/car.obj
app/src/main/res/raw/carmodel.obj
app/src/main/res/raw/dino.obj
app/src/main/res/raw/dinomodel.obj
app/src/main/res/raw/personmodel.obj
app/src/main/res/raw/sylvanas.obj
